---
- name: Docker setup
  hosts: localhost

  tasks:
    - name: essentials
      pacman:
        update_cache: yes
        pkg:
          - docker
          - lazydocker

    - name: Add user to docker group
      become: yes
      user:
        name: grig
        groups: docker
        append: yes

    - name: Install geerlingguy.docker 
      ansible.builtin.command:
        cmd: ansible-galaxy install geerlingguy.docker
      run_once: true

    - name: Install docker
      ansible.builtin.include_role:
        name: geerlingguy.docker
      vars:
        docker_install_compose_plugin: true
        docker_install_compose: false

    - name: Start and enable Docker
      become: yes
      systemd:
        name: docker
        state: started
        enabled: yes
