---
- name: Keyboard setup
  hosts: localhost
  gather_facts: false

  tasks:
    - name: Add variant to /usr/share/X11/xkb/rules/evdev.xml
      become: yes
      blockinfile:
        dest: /usr/share/X11/xkb/rules/evdev.xml
        insertafter: '<layoutList>'
        marker: "<!-- {mark} ANSIBLE MANAGED BLOCK -->"    
        content: |
          <layout>
            <configItem>
              <name>grig</name>
              <shortDescription>grig</shortDescription>
              <description>Russian (grig)</description>
            </configItem>
          </layout>
