---
- name: Packages install
  hosts: localhost
  become: yes
  gather_facts: true

  tasks:
    - name: essentials
      pacman:
        update_cache: yes
        pkg:
          - base-devel
          - dash
          - fish
          - curl
          - wget
          - unzip
          - zip
          - git
          - tmux
          - direnv
          - yay
          - fuse2

    - name: shell
      pacman:
        pkg:
          - stow
          - just
          - lazygit
          - skim
          - helix
          - yazi
          - imagemagick
          - fd
          - bottom
          - yt-dlp
          - tree
          - tealdeer
          - nushell
          - tailscale

    - name: Desktop
      pacman:
        update_cache: yes
        pkg:
          - niri
          - quickshell
          - gnome-keyring
          - wofi
          - libsecret
          - flatpak
          - zen-browser
          - ghostty
          - telegram-desktop
          - qbittorrent
          - darktable
          - remmina
          - discord
          - chromium
          - mumble
          - reaper
          - libreoffice
          - vlc
          - mpv
          - foliate
          - gimp
          - zathura
          - gnome-boxes
          - putty
          - ffmpeg
          - ttf-jetbrains-mono-nerd
          - steam
          - cachyos-gaming-meta
      when: 
        - lookup('env', 'XDG_SESSION_TYPE') is defined
        - lookup('env', 'XDG_SESSION_TYPE') != "tty"
        - lookup('env', 'XDG_SESSION_TYPE') != ""

    - name: flatpack 
      flatpak:
        name: "{{ item }}"
      loop:
        - io.anytype.anytype
      when: 
        - lookup('env', 'XDG_SESSION_TYPE') is defined
        - lookup('env', 'XDG_SESSION_TYPE') != "tty"
        - lookup('env', 'XDG_SESSION_TYPE') != ""

    - name: npm
      npm:
        name: "{{ item }}"
        global: true
      loop:
        - "bun"
        - "prettier"
        - "typescript"
        - "typescript-language-server"
        - "vscode-langservers-extracted"
        - "@tailwindcss/language-server"
        - "@ansible/ansible-language-server"
