---
- name: Create cron job for rsync
  hosts: localhost
  vars_files:
    - secrets.yml

  tasks:
    - name: Ensure rsync is installed
      become: yes
      pacman:
        pkg: 
          - rsync
          - cronie

    - name: vaultwarden backup
      cron:
        name: "Sync vaultwarden data"
        day: "*"
        job: "rsync -av root@{{ vaultwarden_host }}:/root/vaultwarden/data $HOME/.backup/vaultwarden"

    - name: ideavimrc backup
      cron:
        name: "Sync ideavim config"
        hour: "*"
        job: rsync /mnt/c/Users/grig/.config/ideavim/ideavimrc /home/grig/cloud/resources/configs/
      when: lookup('env', 'WSL_DISTRO_NAME') != ""
