---
- name: Yggdrasil setup
  hosts: localhost
  become: yes
  vars_files:
    - secrets.yml

  tasks:
    - name: Install pkgs
      pacman:
        name: yggdrasil

    - name: Create config
      copy:
        content: |
          {
            PrivateKey: {{ lookup('vars', 'ygg_key_' + ansible_facts['hostname']) }} 
            Peers: [ 
            {{ ygg_peers }} 
            ]
            InterfacePeers: {}
            Listen: []
            MulticastInterfaces: [
              {
                Regex: .*
                Beacon: true
                Listen: true
                Password: ""
              }
            ]
            AllowedPublicKeys: []
            IfName: auto
            IfMTU: 65535
            NodeInfoPrivacy: true
            NodeInfo: {}
          }
        dest: /etc/yggdrasil.conf
        group: yggdrasil
        mode: '0644'
      notify: restart yggdrasil

    - name: Reload systemd daemon
      systemd:
        daemon_reload: yes

    - name: Enable and start service
      systemd:
        name: yggdrasil
        enabled: yes
        state: started

    - name: Add user to a group
      user:
        name: grig
        groups: yggdrasil
        append: yes

  handlers:
    - name: restart yggdrasil
      systemd:
        name: yggdrasil
        state: restarted

