* {
    border: none;
    font-family: "JetbrainsMono Nerd Font";
    font-size: 14px;
    color: #cdd6f4;
}

window#waybar {
    background-color: transparent;
}

.module {
    background: #313244;
    padding: 2 8px;
    border-radius: 4px;
}

.modules-left .module {
    margin-right: 8px;
}

.modules-right .module {
    margin-left: 8px;
}

#language {
    padding: 2 6px;
}

#language:hover {
    background: #45475a;
}

#custom-yggdrasil {
    padding: 0 10px;
    border-radius: 5px;
    margin: 0 5px;
}

#custom-yggdrasil.degraded {
    color: #f9e2af;
}

#custom-yggdrasil.down {
    color: #f38ba8;
}

#custom-exit {
    padding: 2px;
}

#custom-exit:hover {
    color: #ffffff;
    background: #BD1847;
}
